<div class="buildingnavbar">
  <%= link_to "Cherry Street", cherrystreet_index_path %> | 
  <%= link_to "Floorplans", cherrystreet_floorplans_path %> | 
  <%= link_to "Pictures", cherrystreet_pictures_path %> | 
  <%= link_to "Neighborhood", cherrystreet_neighborhood_path %>
</div>
<p></p>