<!-- start of carousel -->
<div id="cherry-street-carousel" class="carousel slide col-xs-12" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="cherry-street-carousel" data-slide-to="0" class="active"></li>
      <li data-target="cherry-street-carousel" data-slide-to="1"></li>
      <li data-target="cherry-street-carousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("philly1.jpg", :alt => "PHILLY1", :class =>"img-responsive carousel-pics") %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag("philly2.jpg", :alt => "PHILLY2", :class =>"img-responsive carousel-pics") %>
          <div class="carousel-caption">
          </div>
        </div>
        <div class="item">
          <%= image_tag("philly3.jpg", :alt => "PHILLY3", :class =>"img-responsive carousel-pics") %>
          <div class="carousel-caption">
          </div>
        </div>
      </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#cherry-street-carousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#cherry-street-carousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
    <!-- end of carousel -->

<!-- start of 3 marketing points -->
  <div class="row homepage-marketing-padding">
    <div class="col-xs-4">
      <h2 class="homepage-marketing">About Cherry Street</h2>
      <p class="marketing-indent">Located in the heart of Philadelphia, Cherry Street Apartments are just steps away from Center City and Chinatown. </p>
    </div>
    <div class="col-xs-4">
      <h2 class="homepage-marketing">Newly Constructed</h2>
      <p class="marketing-indent">Our apartments were finished in 2014. They are are modern, sleek, and ready for you to outfit with your personality and sense of style. Come in for a viewing today!</p>
    </div>
    <div class="col-xs-4">
      <h2 class="homepage-marketing"><%= link_to "Neighborhood", cherrystreet_neighborhood_path %></h2>

      <p class="marketing-indent">Cherry street is located . SEPTA buses, restaurants, groceries are all within walking distance.</p>
    </div>
<!-- End of 3 marketing points -->
  </div>