<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Maintenance Request</h3>
  </div>
  
  <div class="panel-body">
    <%= render partial: 'form', locals: { mr: @mr } %>
  </div>
</div>