
<!-- start of building images -->
<div class="row row-padding">
  <div class="col-xs-8">
    <h1>Contact Us!</h1>
    <p>Interested in setting up a viewing?</p>
    <p>Fill out the form below and one of our representatives will get right to you</p>
  </div>
</div>