
<!-- start of building images -->
<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-4 imgwrap">
    <%= link_to image_tag("homepage_cherrystreet.jpg", :class=> "building-image"), "cherrystreet" %>
    <p class="imgDescription">1234 Cherry Street</p>
  </div>
  <div class="col-xs-4">
    <%= link_to image_tag("homepage_otherbuilding.jpg", :class=> "building-image"), "#" %>
  </div>
  <div class="col-xs-2">
  </div>
</div>


<!-- start of 3 marketing points -->
<div class="row homepage-marketing-padding">
  <div class="col-xs-4">
    <h1 class="homepage-marketing">About Us!!!!!</h1>
    <p class="marketing-indent">We have 500 combined years of real estate experience and are here to make sure you get up on the right side of the bed!</p>
  </div>
  <div class="col-xs-4">
    <h1 class="homepage-marketing"><%= link_to "Contact", contact_path %></h1>
    <p class="marketing-indent">Have a question? Want to give us a compliment? Give us a call at (911) 911-9111!</p>
  </div>
  <div class="col-xs-4">
    <h1 class="homepage-marketing">Have an issue?</h1>
    <p class="marketing-indent">Please stand by. Our online maintenance reporting will be online...eventually.</p>
  </div>
<!-- End of 3 marketing points -->
</div>  
