<div class="container">
  <!-- start of building images -->
  <div class="row">
    <%= link_to image_tag("homepage_cherrystreet.jpg"), "cherrystreet" %>
    <%= link_to image_tag("homepage_otherbuilding.jpg"), "#" %>
 </div>
 

<!-- start of 3 marketing points -->
  <div class="row">
    <div class="col-xs-4">
      <h1>About Us!!!!!</h1>
      We have 500 combined years of real estat experience and are here to make sure you get up on the right side of the bed!
    </div>
    <div class="col-xs-4">
      <h1>Contact</h1>
      Have a question? Want to give us a compliment? Give us a call at (911) 911-9111!
    </div>
    <div class="col-xs-4">
      <h1>Have an issue?</h1>
      Please stand by. Our online maintenance reporting will be online...eventually.
    </div>
<!-- End of 3 marketing points -->
  </div>  


</div>