// Place all the styles related to the cherrystreet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.bedroom-thumbs {
  height: 150px;
  width: 150px;
  padding: 5px;
}

.building-navigation {
  background-color: yellow;
}