// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-cherrystreet {
  text-align: right;
}

.building-image:hover {
  opacity: 1.0;
}

.building-image {
  opacity: 0.75;
}

.homepage-marketing {
  text-align: center;
}

.homepage-marketing-padding {
  padding-top: 15px;
}
